main {
  position: relative;
}

.bloc_one,
.bloc_two,
.bloc_four,
.a_btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.bloc_one {
  z-index: -49;
  top: -270px;
  width: 375px;
  height: 375px;
  background-color: #000;
  border-radius: 15px;
}

.bloc_two {
  z-index: -50;
  top: -280px;
  width: 405px;
  height: 405px;
  background-color: #272727;
  border-radius: 15px;
}

.bloc_four {
  top: 70px;
}

.a_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-one);
  font-size: 11px;
  letter-spacing: -1px;
  gap: 10px;
  left: 50%;
  top: 130px;
  margin-top: 10px ;
}

.a_btn p {
  width: 250px;
}

#clic_btn {
  width: 48px;
  height: 48px;
}
