.homepage {
  position: relative;
  display: grid;
  place-items: center;
  height: 100svh;
}

.gradient_bg {
  position: absolute;
  z-index: -100;
  background: var(--linear-bg-color);
  left: 0;
  top: 25vh;
  width: 100%;
  height: 75vh;
}

header {
  position: relative;
  font-size: 11px;
  letter-spacing: -1px;
  color: var(--text-color-one);
}

header a {
  color: inherit;
}

.homepage ul {
  display: flex;
  gap: 30px;
}

.homepage li:hover {
  color: white;
  cursor: pointer;
}

@media all and (max-width: 850px) {
  .homepage ul {
    gap: 10px;
  }
  .homepage li {
    width: 130px;
  }
}
